<template name="Cpu">
  <h4 class="center-align">CPU</h4>
  {{#if Template.subscriptionsReady}}

  {{#each theCpu}}
  <div class="row">
    <div class="col s9">Accumulator:</div>
    <div class="col s3">{{accumulator}}</div>
  </div>
  <div class="row">
    <div class="col s9">Instruction Counter:</div>
    <div class="col s3">{{instructionCounter}}</div>
  </div>
  <div class="row">
    <div class="col s9">Instruction Register:</div>
    <div class="col s3">{{instructionRegister}}</div>
  </div>
  <div class="row">
    <div class="col s9">Operation Code:</div>
    <div class="col s3">{{operationCode}}</div>
  </div>
  <div class="row">
    <div class="col s9">Operand:</div>
    <div class="col s3">{{operand}}</div>
  </div>
  {{/each}}

  {{else}}
    {{> spinner}}
  {{/if}}
</template>
