<template name="Cpu">
  <h4>CPU is here</h4>
  {{#each theCpu}}
  <div class="row">
    <div class="col s3">Accumulator:</div>
    <div class="col s9">{{accumulator}}</div>
  </div>
  <div class="row">
    <div class="col s3">Instruction Counter:</div>
    <div class="col s9">{{instructionCounter}}</div>
  </div>
  <div class="row">
    <div class="col s3">Instruction Register:</div>
    <div class="col s9">{{instructionRegister}}</div>
  </div>
  <div class="row">
    <div class="col s3">Operation Code:</div>
    <div class="col s9">{{operationCode}}</div>
  </div>
  <div class="row">
    <div class="col s3">Operand:</div>
    <div class="col s9">{{operand}}</div>
  </div>
  {{/each}}
</template>
